<head>
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
</head>

<h1>
    Login
</h1>

<p>
    <mat-form-field appearance="legacy">
        <mat-label>Username</mat-label>
        <input matInput placeholder=" ">
        <mat-icon matSuffix>sentiment_very_sad</mat-icon>
        <mat-hint>Vartotojo vardas</mat-hint>
    </mat-form-field>
</p>

<button mat-stroked-button>Basic</button>

<p>
    <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput placeholder="******">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Slaptažodis</mat-hint>
    </mat-form-field>
</p>