<head>
  <title>Shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="jumbotron text-center">
    <h1>Parduotuve</h1>
    <p>Apziurekite esamu prekiu kataloga</p>
  </div>


  <div class="container">
    <div class="row mb-3">
      <div *ngFor="let item of itemList!" class="col-xs-2 themed-grid-col" (click)="pushButton(item.id)">

        <img routerLink="/item" src={{item.picture}} alt={{item.name}} style="width:100%">
        <div class="name">
          {{item.name}}
        </div>
        ${{item.price}}

      </div>
    </div>
  </div>

  <div class="parking-container mat-elevation-z8">

    <div class="parking-table-container">

      <table mat-table [dataSource]="itemList!" class="parking-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
          <span class="b">Aliquam</span> <span class="b">venenatis</span>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>desc</th>
          <td mat-cell *matCellDef="let row">{{row.description}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>price</th>
          <td mat-cell *matCellDef="let row">{{row.price}}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
        </ng-container>
        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef>Discount</th>
          <td mat-cell *matCellDef="let row">{{row.discount}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let row">{{row.type}}</td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>


</body>
