<h1>Prenumeratos</h1>

<button routerLink="/sub-cancel" mat-raised-button>Atsaukti</button>
<button routerLink="/sub-create" mat-raised-button>Gauti prenumerata</button>
<button routerLink="/sub-extend" mat-raised-button>Pratesti</button>
<button routerLink="/sub-pause" mat-raised-button>Uzsaldyti</button>
<button routerLink="/sub-transfer" mat-raised-button>Perduoti</button>



<div>Prenumeratos statusas: {{sustabdyta}}</div>
<div>Prenumeratos pradzia: {{sub?.start}}</div>
<div>Prenumeratos pabaiga: {{sub?.end}}</div>
