
.payment-form {
  display:block;
  text-align: center;
}

.form {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

div {
  text-align: center;
}
