<head>
  <link rel="stylesheet" href="./payment.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<h1>
  Užpildykite apmokėjimo duomenis
</h1>
<div class="payment-form">
  <form action="/action_page.php" class="form">

    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Sąskaitos numeris</mat-label>
        <input matInput placeholder=" " required>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Galiojimo laikas</mat-label>
        <input matInput placeholder=" " required>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="legacy">
        <mat-label>CCV</mat-label>
        <input matInput placeholder=" " required>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Banko pin kodas</mat-label>
        <input matInput placeholder=" " required>
      </mat-form-field>
    </p>



    <button routerLink="/payment" mat-raised-button (click)="checkPayment()">Apmokėti</button>


  </form>
</div>
