
.register-form {
  display:block;
  text-align: center;
}

.form {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
p:hover{
  font-size: 15px;
  transition-duration: 0.5s;
}

p{
  transition-duration: 0.5s;
}