<head>
  <link rel="stylesheet" href="./register.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<h1>
  Registracija
</h1>
<div class="register-form">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Vartotojo vardas</mat-label>
      <input matInput placeholder=" " [(ngModel)]="register.name" minlength="3" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Vartotojo pavardė</mat-label>
      <input matInput placeholder=" " [(ngModel)]="register.lastname" minlength="3" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>El. paštas</mat-label>
      <input matInput placeholder=" " [(ngModel)]="register.email" minlength="8" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Tel. nr.</mat-label>
      <input matInput placeholder=" " [(ngModel)]="register.phone">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Prisijungimo vardas</mat-label>
      <input matInput placeholder=" " [(ngModel)]="register.login" minlength="5" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Slaptažodis</mat-label>
      <input type="password" matInput placeholder=" " [(ngModel)]="register.password" minlength="5" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Pakartokite slaptažodį</mat-label>
      <input type="password" matInput placeholder=" " [(ngModel)]="confirmPass" minlength="5" required>
    </mat-form-field>
  </p>

  <button type="submit" class="btn btn-dark" (click)="registerUser()">Registruotis</button>
  <div style="color: red">
    {{error}}
  </div>

</div>
