h1:hover{
    font-size: 70px;
    transition-duration: 0.5s;
  }
  
  h1{
    transition-duration: 0.5s;
  }

  p:hover{
    font-size: 25px;
    transition-duration: 0.5s;
  }
  
 p{
    transition-duration: 0.5s;
  }