.item {
    width: 300px;
    height: auto;
}
h1:hover{
    font-size: 700px;
    transition-duration: 0.5s;
  }

  h1{
    transition-duration: 0.5s;
  }

  p:hover{
    font-size: 25px;
    transition-duration: 0.5s;
  }

 p{
    transition-duration: 0.5s;
  }

  .parking-table-container {
    position: relative;
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
}

.parking-container {
  position: relative;
  margin: 4rem 28rem 0rem
}
