<head>
  <title>Shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Parduotuve</h1>
    <p>Apziurekite esamu prekiu kataloga</p>
  </div>


  <div class="container">
    <div class="row mb-3">
      <div *ngFor="let item of itemList!" class="col-xs-2 themed-grid-col" (click)="pushButton(item.id)">
        <div class="parent">
          <div class="child">
            <span>
              <img routerLink="/item" src={{item.picture}} alt={{item.name}} style="width:100%">
            </span>
          </div>
        </div>

        <div class="name">
          {{item.name}}
        </div>
        ${{item.price}}

      </div>
    </div>
  </div>

</body>
