h1 {
  text-align: center;
}

p {
  text-align: center;
  font-weight: bold;
}

div {
  text-align: center;
}

#melyna {
  color: #0000ff;
  font-weight: bold;
}

img {
  margin: 1rem 1rem 1rem;
  float: left;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

