<p>
  <mat-toolbar>
    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span [style.cursor]="'pointer'" routerLink="/home">Sport zal </span>

    <span class="toolbar-spacer"></span>
    <span class="toolbar-spacer" [style.cursor]="'pointer'" routerLink="/shop">Shop</span>


    <span class="toolbar-endspacer"></span>
    <span class="toolbar-spacer" [style.cursor]="'pointer'" routerLink="/login">Login</span>
    <span class="toolbar-spacer" [style.cursor]="'pointer'" routerLink="/register">Register</span>


  </mat-toolbar>
</p>




<router-outlet></router-outlet>