<p>
  <mat-toolbar>
    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-padding pointer" routerLink="/home">Pradinis puslapis</span>

    <span class="toolbar-spacer menu-padding"></span>
    <span class="toolbar-spacer menu-padding pointer" routerLink="/shop">Parduotuvė</span>

    <span class="toolbar-endspacer"></span>
    <span class="toolbar-spacer menu-padding pointer" *ngIf="signout" (click)="OpenUserEdit()">{{username}}</span>
    <span class="toolbar-spacer menu-padding pointer" *ngIf="addItem" routerLink="/add-item">
      <mat-icon>library_add</mat-icon>
    </span>
    <span class="toolbar-spacer menu-padding pointer" routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </span>
    <span class="toolbar-spacer menu-padding pointer" *ngIf="guest" routerLink="/register">Registruotis</span>
    <span class="toolbar-spacer menu-padding pointer" *ngIf="guest" routerLink="/login">Prisijungti</span>
    <span class="toolbar-spacer menu-padding pointer" *ngIf="signout" (click)="signOutUser()">Atsijungti</span>



  </mat-toolbar>
</p>
<router-outlet></router-outlet>
