<h1>Redaguoti prekę</h1>

<div class="register-form">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput placeholder=" " [(ngModel)]="item.name">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Picture URL</mat-label>
      <input matInput placeholder=" " [(ngModel)]="item.picture">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Price</mat-label>
      <input matInput placeholder=" " [(ngModel)]="item.price">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Description</mat-label>
      <input matInput placeholder=" " [(ngModel)]="item.description">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Quantity</mat-label>
      <input matInput placeholder=" " [(ngModel)]="item.quantity">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Discount</mat-label>
      <input matInput placeholder=" " [(ngModel)]="item.discount">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Type</mat-label>
      <input matInput placeholder=" " [(ngModel)]="item.type">
    </mat-form-field>
  </p>

  <div>
    <button type="submit" class="btn btn-dark" (click)="updateItem()">Atnaujinti</button>
  </div>
  <br>
  <div>
    <button type="submit" class="btn btn-dark" (click)="deleteItem()">Ištrinti</button>
  </div>



</div>
